.users ul {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

.users li {
    width: 100%;
    border: 2.15px solid #D5D4D4;
    box-sizing: border-box;
    padding: 0.25em;
    margin-bottom: 0.55em;
}
