.button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.65rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
}

.button:hover,
.button:active {
  background-color: #510674;
  border-color: #510674;
}
